 /*-------body---------*/
 body {
  background-color: #f8f8f8;
  width: 100%;


}
/*-------Navigation---------*/
.customNav {
  position: fixed;
  width: 100%;
  background-size: cover;
  z-index: 10;
  

}

.navbar-brand {
  margin-left: 4%;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 4% !important;
}

.nav-item {
  margin: 0px 15px;
  font-size: 18px;

}

/* Navigation dropdown menu */
.dropdown-menu {
  background-size: cover;
 
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #ffa800;
   
}

/* Navigation links */
.customNav a {
  color: #070055 !important;
}
.navCTA {
  font-size: 15px;
}

 
 /*-------Hero Space---------*/
 .hero {
    display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        padding-top:50px;
   }
    .intro {
    width: 100%;
      max-width: 486px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
    gap: 12px;
    margin: 50px 0px 140px 0px;
    padding-right: 0px;
  }
  .content {
    width: 100%;
    height: auto;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    padding: 0;
  }
     .UIUX-Designer {
    height: auto;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #070055;
  }
  .headerImage {
    width: 100%;
    max-width: 700px;
    height: auto;
    display: flex;
    float: right;
    top: 0px;
    margin: -60px 0px 0px 0px;
    
  }
    .Title {
    width: 100%;
      max-width: 486px;
    height: auto;
    flex-grow: 0;
    font-family: PlayfairDisplay;
    font-size: 58px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #25282b;
  }
  
  .Title .text-style-1 {
    color: #ffa800;
  }
  
    .introParagraph {
   width: 100%;
      max-width: 486px;
    height: auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #515151;
  }
  /*-------Buttons---------*/
  .buttons {
    max-width: 243px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 15px;
    padding: 0px;
   
  }
  
    
  .button-primary {
    width: 100%;
    height: auto;
    text-align: center;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
   padding: 10px 20px 10px 20px;
    border-radius: 8px;
    background-color: #070055;
    cursor:pointer;
  }

 .buttontest {
  color:#070055;
 }
  .button-secondary {
    width: 100%;
    height: auto;
    text-align: center;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 22px 7px 22px;
    border-radius: 8px;
    border: solid 2px #070055;
    cursor:pointer;

  }
 
    .linkedIn {
      display: flex;
    width: 100%;
    height: auto;
    flex-grow: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: center;


  }
  a { text-decoration: none; }
  a:hover { text-decoration: none; }
  .buttonP {
    width: 100%;
    height: auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }

  .buttontest {
    border: none;
  }
  /*----------overview-------------*/
  .Overview {
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    
  

  }

  .projectText {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-family: PlayfairDisplay;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #25282b;
    }

    .overviewParagraph {
  width: 70%;
    height: auto;
    justify-content: center;
    align-content: center;
    padding-top: 15px;
    padding-bottom: 80px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #25282b;
}



    /*----------summary-------------*/

.socialblue {
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  padding-top: 60px;
  margin: 0px 0px 0px 0px;
  background-color: rgba(0, 75, 150, 0.15);
  }

.fixme {
  padding-left: 13%;

}
 
.SB {
  background-color: transparent !important;
}

  p {
    width: 100%;
    height: auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #25282b;
}
  .mrp {
    width: 100%;
    height: auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #25282b;

  }
  .roles{
    width: 100%;
    height: auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #25282b;
    text-align: left;

  }
  /*----------process-------------*/
  .container{
    width: 80%;
    justify-content: center;
    align-items: center;
    }
  
  .processHeader {
    width: 100%;
    height: auto;
    justify-content: center;
    padding-top: 0px;
    font-family: PlayfairDisplay;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #25282b;
    padding-bottom: 40px;
    padding-top: 50px;
    }

  .processImage {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;

  }

  .processSection {
    background-color: transparent !important;
  }
  #img1 {display: block;}
  #img2 {display: none;}

  /*----------Content Section-------------*/
 .media { 
  width: 75%;
  gap: 50px;
  padding-top: 80px;
  padding-bottom: 40px;
  
 }

 .media-body {
  width: 60%;
 }
  
 .Navimg {
  width:100%;
  max-width: 550px;
}

h4 {
  width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #25282b;


}

h5 {
  width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #25282b;
 }

 .heuro {
  width: 100%;
  max-width: 550px;
 }

 .character {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  padding-bottom: 20px;
}

.c1 {
  width: 100%;
  max-width: 100px;
  height: auto;
  text-align: center;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-content:center;
  align-items: center;
 padding: 8px 0px 8px 0px;
  border-radius: 8px;
  background-color: #070055;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
}
.p1 {
font-style: italic;
}

.hifiImage {
  width: 100%;
  max-width: 550px;
}

.mobile1 {
  width: 60%;
}



.FinalIterations {
  width: 100%;
  height: auto;
  align-content: center;
  


}

.finalText {
  width: 100%;
  height: auto;
  justify-content: center!important;
  align-content: center !important;
  padding-top: 30px;
  font-family: PlayfairDisplay;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #25282b;
  }

  .finalParagraph {
width: 70%;
  height: auto;
  justify-content: center !important; 
  align-content: center !important;
  padding-top: 15px;
  padding-bottom: 1%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #25282b;
}
 
.finalGif { 
  width: 100%;
  gap: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center !important; 
  align-content: center !important;
 }

 .empathyPic {
  width:100%;
  max-width: 400px;
 }

 .finalParagraph2 {
  width: 70%;
  height: auto;
  justify-content: center !important; 
  align-content: center !important;
  padding-top: 15px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #25282b;
  padding-bottom: 5%;
 }
 

 
  /*-----contact section-----*/

  .contactme {
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:10px;
   
  }

.contactp {
  align-self: center;
}
input {
  width: 600px;
  height: 40px;
  flex-grow: 0;
  border-radius: 8px;
  border: solid 1px #c8cbd2;
  background-color: #fff;
}
label {
  display: flex;
  width: 400px;
  height: 27px;
  padding: 0 10px 5px 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #25282b;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  font-family: 'Nunito Sans', sans-serif;
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=send] {
  background-color: #fdc435;
  width: 70px;
  height: 30px;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  align-self: flex-end;
  font-weight: 600;
  color: rgb(37, 36, 36);
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color and some padding around the form */
.containc {
  width: 100%;
 max-width: 600px;
  border-radius: 5px;
  padding: 20px;
  bottom: 140px;
}

.GetinTouch {
  padding-bottom: 50px;
}

/*----footer----*/


.Ambers-Portfolio-2022 {
width: 100%;
height: auto;
display: flex;
justify-content: center;
padding: 15px 0px 15px 0px;
flex-grow: 0;
font-family: 'Nunito Sans', sans-serif;
font-size: 12px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.2;
letter-spacing: normal;
text-align: center;
color:#e1e0e0;
}

#endGame {
width:100%;
background-color:#1f1f1f;
}

/** ipad break point**/
@media only screen and (min-width: 580px) and (max-width: 1100px) 
{
.headerImage{
  width: 100%;
  max-width: 450px;
}

.processImage {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.media {
  flex-wrap: wrap;
}

.media-body {
  flex-wrap: wrap;
}

.reverse {
  flex-wrap: wrap-reverse;
}

}

@media only screen and (max-width: 579px) {
  
  .headerImage {
    display: none;
    }
    .intro {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
    margin: 60px 15px 0px 25px;
    padding-right: 0px;
    }
    
    .processImage {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }
    
    .media {
      flex-wrap: wrap;
    }
    
    .media-body {
      flex-wrap: wrap;
    }
    
    .reverse {
      flex-wrap: wrap-reverse;
    }

   .fixme {
    display: none;
   }
   .Title {
    width: 100%;
      max-width: 486px;
    height: auto;
    flex-grow: 0;
    font-family: PlayfairDisplay;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #25282b;
   }
.finalText {
  font-family: PlayfairDisplay;
    font-size: 30px;
    font-weight: bold;
}
   #img1 {display: none;}
   #img2 {display: block;}
  
   }
  